* {
  font-size: 14px;
  font-family: monospace, sans-serif;
}

table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 98%;
}

.row {
  flex: 1;
}

#rangevalue {
  padding: 10px;
}

body {
  background-color: #333333;
  color: #a1a1a1;
}

#wrapper {
  display: flex;
  flex-direction: 'column';
}

#mainCanvas {
  flex: 0 0 70%;
}

#stats {
  flex: 1;
  width: 98%;

}

#simulationConfigs {
  line-height: 0.5;
}

#bestHumanConfigs {
  line-height: 0.5;
}

/*#humanstats {
  flex: 1;
  margin-top: 10px;
  margin-right: 400px;
  margin-left: 100px;
}
*/
#genomeRow {
  /* flex: 1; */
  font-family: monospace;
  padding-top: 10px;
  padding-bottom: 10px;
}

#chart {
  /* margin-bottom: 5px; */

}

div.genome button {
  /* padding: 2px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  /* margin: 0px 15px; */
  cursor: pointer;
}

.greenButton {
  background-color: #2ecc71;
  margin-top: 5px;
  margin-bottom: 5px;
}

.blueButton {
  background-color: #3498db;
  margin-top: 5px;
  margin-bottom: 5px;
}

.redButton {
  background-color: #e74c3c;
  margin-top: 5px;
  margin-bottom: 5px;
}

.purpleButton {
  background-color: #9b59b6;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.genome textarea {
  background-color: #333333;
  color: #a1a1a1;
  width: 98%;

}